img.opacity_0 {
  opacity: 0.05;
}

img.opacity_0.fadeIn {
  opacity: 1;
  transition: opacity 2s;
}

.image {
  display: block;
  line-height: 1.55
}

.image>img, .image a>img {
  display: block;
  max-width: 100%;
  height: auto
}

@media (max-width:767px) {
  .image>img, .image a>img {
    margin: 0 auto
  }
}
